<?xml version="1.0" encoding="utf-8"?>
<!-- Solo en la versión de depuración: prueba de Android Auto sin coche. -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Para poder probar también la versión instalada (com.lyra.music), como hace el coche. -->
    <queries>
        <intent>
            <action android:name="android.media.browse.MediaBrowserService" />
        </intent>
        <package android:name="com.lyra.music" />
    </queries>

    <application>
        <activity
            android:name="com.lyra.music.debug.AutoProbeActivity"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
    </application>

</manifest>
